<div class="container">
  <div class="row">
    <%= link_to 'new', new_atricle_path, class: 'btn btn-default' %>
  </div>
  <div class="row">
    <ul class="list-group">
      <% @atricles.each do |atr| %>
          <li class="list-group-item">
            <div>
              <%= link_to atr.title, atricle_path(atr) %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

</div>
